astroid==2.9.0
beautifulsoup4 @ file:///C:/myweb/beautifulsoup4-4.10.0-py3-none-any.whl
colorama==0.4.4
isort==5.10.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
platformdirs==2.4.0
pylint==2.12.2
six==1.16.0
soupsieve==2.3.1
toml==0.10.2
typing_extensions==4.0.1
wrapt==1.13.3
