<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>註冊驗證</title>
    </head>

    <body>
        <div class="text-center">
            <p class="topline">請按</p>
            <a href="{{ actlink }}" target="_blank" class="btn btn-danger">驗證</a>
            <p>啟用帳號</p>
            <p><small><span class="pyone-center">高雄中學學生聯合自治會網站</span></small></p>
        </div>
    </body>
</html>