<!-- 
會長
自治部
秘書部
公關部
活動部
社團部
學藝部
學權部
財務部
議長
學生議會秘書處
主任評議委員
 -->
{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{{url_for('manager_register', order = 'adjust')}}"> 
    <div class="container p-3 my-3 border" style="width: 60%;">
        <h5 style="margin-left: 45%;">修改帳號</h5>
        <br>
        {% if errors != "" %}
            <br>
            <p class="text-danger" style="text-align: center;">{{ errors }}</p>
        {% endif %}
        <div class="input-group mb-lg-12 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">學號</span>
            </div>
            <input class="form-control mb-lg-12 input-group-lg" type="text" name="id" value="{{ ident.id }}">
        </div>	
        <br>      
        <div class="input-group mb-lg-12 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">姓名</span>
            </div>
            <input class="form-control mb-lg-12 input-group-lg" type="text" name="name" value="{{ ident.name }}">
        </div>
        <br>
        <div class="input-group mb-lg-12 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">密碼</span>
            </div>
            <input class="form-control mb-lg-12 input-group-lg" type="text" name="password" value="{{ ident.password }}">
        </div>	
        <br>
        <div class="input-group mb-lg-12 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">確認密碼</span>
            </div>
            <input class="form-control mb-lg-12 input-group-lg" type="password" name="checkpassword" value="">
        </div>	
        <br>          
        <div class="input-group mb-lg-12 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">email信箱</span>
            </div>
            <input class="form-control mb-lg-12 input-group-lg" type="text" name="email" value="{{ ident.email }}">
        </div>	
        <br>     
            <input type="hidden" id = "default_apartment" value="{{ ident.apartment }}">
            <span class="input-group-text">職位</span>
            {% if apartment == "議長" %}
            <br>
            <h4>修改議長職位請使用"議長更替"</h4>
            <input type="hidden" name="apartment" id="議長" value="議長">
            <br>
            {% else %}
            <div class="form-group">
                <br>
                <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="adminstration1" value="會長">
                    <label class="form-check-label" for="adminstration1">會長</label>
                </div>
                <br><br> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="自治部" value="自治部">
                    <label class="form-check-label" for="自治部">自治部</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="秘書部" value="秘書部">
                    <label class="form-check-label" for="秘書部">秘書部</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="公關部" value="公關部">
                    <label class="form-check-label" for="公關部">公關部</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="活動部" value="活動部">
                    <label class="form-check-label" for="活動部">活動部</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="學藝部" value="學藝部">
                    <label class="form-check-label" for="學藝部">學藝部</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="社團部" value="社團部">
                    <label class="form-check-label" for="社團部">社團部</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="財務部" value="財務部">
                    <label class="form-check-label" for="財務部">財務部</label>
                </div>
                <br><br>
                <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="parliament1" value="學生議會">
                    <label class="form-check-label" for="parliament1">學生議會</label>
                </div> -->
                <!-- <br><br> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="學生議會秘書處" value="學生議會秘書處">
                    <label class="form-check-label" for="學生議會秘書處">學生議會秘書處</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="主任評議委員" value="主任評議委員">
                    <label class="form-check-label" for="主任評議委員">主任評議委員</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="分類者" value="分類者">
                    <label class="form-check-label" for="分類者">分類者</label>
                </div>
                <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="parliament3" value="動審查委員會">
                    <label class="form-check-label" for="parliament3">活動審查委員會</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="parliament4" value="社團審查委員會">
                    <label class="form-check-label" for="parliament4">社團審查委員會</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="parliament6" value="公關秘書審查委員會">
                    <label class="form-check-label" for="parliament6">公關秘書審查委員會</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="parliament7" value="學權自治審查委員會">
                    <label class="form-check-label" for="parliament7">學權自治審查委員會</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="parliament8" value="學藝財務審查委員會">
                    <label class="form-check-label" for="parliament8">學藝財務審查委員會</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="parliament9" value="法規審查委員會">
                    <label class="form-check-label" for="parliament9">法規審查委員會</label>
                </div>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="apartment" id="parliament10" value="紀律委員會">
                    <label class="form-check-label" for="parliament10">紀律委員會</label>
                </div> -->
                <br><br>
        <br>    
    </div>
    {% endif %}
        <div class="input-group mb-lg-12 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">入學年度</span>
            </div>
            <input class="form-control mb-lg-12 input-group-lg" type="text" name="enteryear" value="{{ ident.enteryear }}">
        </div>	
        <br>    
        <h5>&nbsp;</h5>   
        <div class="row"><input class="btn btn-primary btn-lg" type="submit" name="send" value="送出" id = "submit_login"></div>
    </div>
</form>
<script>
    default_apartment = $("#default_apartment").val();
    document.getElementById(default_apartment).checked = true;
</script>
{% endblock %}
        
