{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center;">申請規則</h1>
<div class="container-fluid">
    <a class="btn btn-primary" href="{{ url_for('applyparty') }}">申請政黨</a>
    <br><br>
    <a class="btn btn-primary" href="{{ url_for('applyplace') }}">申請場地</a>
</div>
<br><hr><br>
<div class="container">
    <br>
    <p>請由底下載點進行資料下載</p>
    <a class="FKF6mc TpQm9d QmpIrf" href="https://drive.google.com/drive/folders/1e_xXHUxzb_m4FPQxwCUNMTiBjVKPL7W4?usp=sharing" target="_blank" aria-label="政黨備案相關資料"><div class="NsaAfc"><p>政黨備案相關資料</p></div><div class="wvnY3c" jsname="ksKsZd"></div></a>
    <div class="container">
    <p>
        政黨申請須具備資料
        <br>
        <strong>1.申請書</strong>
        <br>
        <strong>2.黨內章程</strong>
        <br>
        <strong>3.十人以上黨員簽名或蓋章之名冊</strong>
        <br>
        <strong>4.負責人名冊</strong>
        <br>
        <strong>5.負責人選任會議紀錄</strong>
        <br>
        備註:
        <br>
        黨員名冊需 簽名 或 蓋章，可以以簽名檔置於名冊電子檔中。
        <br>
        黨員名冊之 班級 座號，為非必填項目。
        <br>
        法規節錄:
        <br>
        高雄市立高雄高級中學學生聯合自治會政黨組織自治條例
        <br>
        <br>
        <br>
        第6條	政黨之設立，申請人應檢具申請書、黨內章程、十人以上黨員簽名或蓋章之名冊、負責人名冊以及負責人選任會議紀錄
        <br>
        <br>
        <br>
        第9條	政黨之名稱會期簡稱，不得有下列情形:
        <br>
        一、與已設立之政黨名稱或簡稱讀音相同或相似者。
        <br>
        二、於已設立之政黨名稱或簡稱附加文字者。
        <br>
        三、有歧視性或仇恨性者。
        <br>
        四、違反社會善良風俗者。
        <br>
        …
        <br>
        <br>
        <br>
        第10條 	政黨標章，不得有下列情形:
        <br>
        一、與已設立之政黨標章相同或相似者。
        <br>
        二、有減損已設立政黨標章之識別性者。
        <br>
        三、有歧視性或仇恨性意涵者。
        <br>
        四、違反社會善良風俗者。
        <br>
        …
        <br>
        <br>
        <br>
        第22條	政黨之章程，應載明下列事項:
        <br>
        一、名稱。有簡稱者，其簡稱。
        <br>
        二、有標章者，其標章。
        <br>
        三、宗旨。
        <br>
        四、黨員之入黨、退黨、除名規則。
        <br>
        五、黨員之權利及義務。
        <br>
        六、負責人與選任人員之職稱、名稱、產生方式、任期及解任。
        <br>
        七、黨員大會或黨員代表大會召集之條件、期限及決議方式。
        <br>
        八、章程變更之程序。
        </p>
    </div>
</div>
{% endblock %}