<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>政黨申請</title>
    </head>

    <body>
        <div class="text-center">
            <p>政黨負責人名冊：{{charger}}</p>
            <p>政黨備案申請書：{{application}}</p>
            <p>政黨標章備案申請書：{{icon}}</p>
            <p>政黨黨員名冊：{{member}}</p>
            <p><small><span class="pyone-center">高雄中學學生聯合自治會網站</span></small></p>
        </div>
    </body>
</html>