{% extends 'base.html' %}
{% block content %}
<br>&nbsp;<br>
{% if send == 0 %}
    <div class='container' style="padding-left: align-self;">
        <form method="POST" action={{url_for('forgot_password')}}> 
        <input type="text" class="form-control" placeholder="請輸入帳號之電子郵件信箱" name = "email">
        <br>
        <input class="btn btn-primary btn-lg" type="submit" name="send" value="送出">
        </form>
    </div>
{% elif send == 1 %}
    <h1 style="text-align-last: center;">已寄送密碼</h1>
{% endif %}
<br>&nbsp;<br>
{% endblock %}