{% extends 'base.html' %}
{% block content %}
{% if order == 'all' %}
    <div class="container">
        <br>
        <ul class="nav nav-pills"  role="tablist" style="padding-left: 10%; padding-right: 10%;">
            <li class="nav-item col-lg-4">
                <a class="nav-link active p-3 my-3 border" data-toggle="pill" href="#constitution"><h3 style="text-align-last: center;">組織章程</h3></a>
            </li>
            <li class="nav-item col-lg-4">
                <a class="nav-link p-3 my-3 border" data-toggle="pill" href="#ordinance"><h3 style="text-align-last: center;">自治條例</h3></a>
            </li>
            <li class="nav-item col-lg-4">
                <a class="nav-link p-3 my-3 border" data-toggle="pill" href="#rule"><h3 style="text-align-last: center;">自治規則</h3></a>
            </li>
        </ul>
        <br>
        <div class="tab-content container " style="padding-left: 10%; padding-right: 10%;">
            <div class="tab-pane active"id = 'constitution'>
                {% for ele in constitution %}
                <a class="list-group-item btn" href="{{ url_for('laws_web', order = ele.ind) }}"><h5 style="text-align: left;">{{ ele.title }}</h5></a>
                {% endfor %}
            </div>
            <div class="tab-pane"id = 'ordinance'>
                {% for ele in ordinance %}
                <a class="list-group-item btn" href="{{ url_for('laws_web', order = ele.ind) }}"><h5 style="text-align: left;">{{ ele.title }}</h5><h5 style="text-align: right;"></h5></a>
                {% endfor %}
            </div>
            <div class="tab-pane"id = 'rule'>
                {% for ele in rule %}
                <a class="list-group-item btn" href="{{ url_for('laws_web', order = ele.ind) }}"><h5 style="text-align: left;">{{ ele.title }}</h5><h5 style="text-align: right;"></h5></a>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="container p-3 my-3 border" id = "laws">
        <h1 style="text-align:center;">{{ title.title }}</h1>
            <br><hr><br>
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-lg" id = "all" ind = "{{ title.ind }}">所有條文</button>
                    <button type="button" class="btn btn-success btn-lg" id = "history" ind = "{{ title.ind }}">沿革</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop222" type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          分章節
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop222">
                          {% set s = "" %}
                          {% for item in allchapters %}
                            <a type="button" class="dropdown-item" href = "#{{item[0]}}">{{item[0]}}</a>
                          {% endfor %}
                        </div>
                      </div>
                </div>
        <br>
        <br>
        <div class="container" id = "split_chapter">

        </div>
        <br><hr><br>
        <div class="container-fluid" id = "content">
        </div>
        <script>
            $('#split_chapter').hide();
            $('#all').on('click', function() {
            var formData = {};
            $.ajax({'type': 'POST', 'data': formData, 'url': '/getlaws/'+$("#all").attr("ind"),})
            .done(function(data, textStatus, jqXHR) {
                var items = [];
                // console.log(data);
                var now_chapter;
                var exchapter = "";
                $.each(data.all_laws, function(index, all_laws) {
                    now_chapter = all_laws[3]
                    // console.log(all_laws)
                    if (now_chapter == exchapter) {
                        items.push('<h5 id = >第'+all_laws[2]+'條</h5>')
                        items.push('<p>'+all_laws[4]+'</p><br>')
                    }
                    else{
                        items.push('<h5 id = "'+all_laws[3]+'">'+all_laws[3]+'</h5><br>')
                        items.push('<h5>第'+all_laws[2]+'條</h5>')
                        items.push('<p>'+all_laws[4]+'</p><br>')
                    }
                    exchapter = now_chapter
                    // console.log(items)
                $('#content').html(items.join(''));
                })
            })
            .fail()
            .always();
            
        });

        $('#history').on('click', function() {
            var formData = {};
            $.ajax({'type': 'POST', 'data': formData, 'url': '/gethistory/'+$("#history").attr("ind"),})
            .done(function(data, textStatus, jqXHR) {
                var items = [];
                // console.log(data)
                items.push('<h5 style="text-align:center;">'+data.history[0][3]+'</h5>')
                $('#content').html(items.join(''));
            })
            .fail()
            .always();
        });
        </script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
{% endif %}
{% endblock %}