<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>重送密碼</title>
    </head>

    <body>
        <div class="text-center">
            <p><span>密碼</span></p>
            <p class="pwd"><span>{{ password }}</span></p>
            <p><small><span class="pyone-center">高雄中學學生聯合自治會網站</span></small></p>
        </div>
    </body>
</html>