{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="container">
        {% for laws in laws_title %}
            <div class="container p-3 my-3 border">
            <div class="row">{{ laws.title }}</div>
            <a class="btn btn-primary col-sm-2" href = "{{ url_for('adjustlaws', ind = laws.ind) }}">修改</a>
            <a class="btn btn-danger  col-sm-2" href = "{{ url_for('delete', target = laws.ind, t = 'law_name') }}">刪除</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}