{% extends 'base.html' %}}

{% block content %}
    {% if m == "result" %}
    {% if exist == 1 %}
    <div class="container-fluid bg-dark">
        <br>
        <div class="row"><h3 class="text-success col-md-3">白色：出席</h3><h3 class="text-success col-md-3">綠色：同意</h3><h3 class="text-danger col-md-3">紅色：不同意</h3><h3 class="text-warning col-md-3">黃色：棄權</h3><h3 class=" col-md-3">黑色：缺席</h3></div>
        <br><hr><br>
        
        <div class="container-fluid" id = "result">

        </div>
    </div>
        {% if apartment == "議長"%}
        <div class="container-fluid">
            <form method="POST" action="{{ url_for('vote_page', m='conclusion') }}">
                <input  type = "hidden" value = "" name="conclusion" id = "conclusion">
                <button type="submit" class="btn btn-primary btn-block">結束投票</button>
            </form>
        </div>
        {% endif %}
        <script>
            showresult()
            var clock = setInterval(showresult , 500);
            function showresult(){
                var formData = {};
                // console.log($('#ind').val());
                $.ajax({'type': 'POST', 'data': formData, 'url': '/getparliamentary',})
                .done(function(data, textStatus, jqXHR) {
                    console.log("work")
                    var items = [];
                    var colors = {"agree":'text-success', "disagree":'text-danger', "adstain":'text-warning', "none":'text-white'};
                    // var choice_text = {"agree":"同意", "disagree":"不同意", "adstain":"棄權"};
                    var conclusion = {"agree":0, "disagree":0, "adstain":0, "none":0};
                    $.each(JSON.parse(data.data), function(index, parliamentary) 
                    {
                        if ((index+1) % 4 == 1)
                        {
                            items.push("<div class='row'>")
                        }
                        if (parliamentary.participation == 1)
                        {
                            conclusion[parliamentary.choice] += 1;
                            items.push("<h3 class = '"+colors[parliamentary.choice]+" col-md-3'>"+parliamentary.name+"</h3>")
                        }
                        else
                        {
                            items.push("<h3 class = 'col-md-3 '>"+parliamentary.name+"</h3>")
                        }
                        if ((index+1) % 4 == 0)
                        {
                            items.push("</div><br>")
                        }
                    })
    
                    document.getElementById("result").innerHTML = "";
                    document.getElementById("result").innerHTML = items.join('');
                    document.getElementById("conclusion").value = String(conclusion['agree'])+'-'+String(conclusion['disagree'])+'-'+String(conclusion['adstain']+conclusion['none'])
                })
                .fail()
                .always()
            }  
            </script>
    {% else %}
    <br><br>
    <div class="container-fluid">
        <h1 style="text-align: center;">請等待主席宣布開始投票</h1>
    <br><br>
    </div>
    <br><br>
    {% endif %}
    
    {% elif m == 'checkout' %}
    <form method="POST" action="{{ url_for('vote_page', m='vote') }}">
    <br><br>
    <div class="container-fluid">
    <button type="submit" class="btn btn-primary btn-block btn-lg">出席</button>
    <br><br>
    </div>
    </form>
    {% elif m == 'vote' %}
    {% if exist == 1 %}
    <form method="POST" action="{{ url_for('vote_page', m='end') }}">
    <div class="container-fluid" style="padding-inline: 10%;">
        <!-- {% if activation == 1 %}
            <br>
            <h1 style="text-align: center;"> {{ options.ind }} </h1>
            <input type = "text" value = "{{ options.ind }}" id = "ind" name = "ind">
            <input type = "text" value = "{{ options.holder }}" id = "holder" name = "holder">
            <br>
            {% for i in options.options.split('-') %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id = "option{{ options.options.split('-').index(i) }}" value="{{ i }}" name = "choice">
                    <label class="form-check-label" for="option{{ options.options.split('-').index(i) }}">{{ i }}</label>
                </div>
                <br><br>
            {% endfor %}
            <div class="row"><input class="btn btn-primary btn-lg" type="submit" name="send" value="送出" id = "commit"></div>
        {% else %}
                <h1 style="text-align: center;">投票已結束</h1>
        {% endif %}
    <script>
        $('#ind').hide();
        $('#holder').hide();
    </script> -->
    <br><br>
    <div class="row">
        <button type="submit" name="choice" value="agree" id = "agree" class = "btn btn-success col-md-4">同意</button>
        <button type="submit" name="choice" value="disagree" id = "disagree" class = "btn btn-danger col-md-4">不同意</button>
        <button type="submit" name="choice" value="adstain" id = "adstain" class = "btn btn-warning col-md-4">棄權</button>
    </div>
    <br><br>
    </div>
    <br><br>
    </form>
    <form method="POST" action="{{ url_for('vote_page', m= 'checkout') }}">
        <br><br>
        <div class="container-fluid">
        <button type="submit" class="btn btn-primary btn-block btn-lg">參與下一輪投票</button>
        <br><br>
        </div>
     </form>
    <!-- <script>
        var clock = setInterval(getact , 1000);
            function getact(){
                var formData = {};
                $.ajax({'type': 'POST', 'data': formData, 'url': '/getconferenceact',})
                .done(function(data, textStatus, jqXHR) {
                    if (data.data == 1)
                    {
                        window.location.href = '/vote/checkout';
                    }
                })
            }   -->
    </script>
    {% else %}
    <br><br>
    <div class="container-fluid">
        <h1 style="text-align: center;">請等待主席宣布開始投票</h1>
    <br><br>
    </div>
    <br><br>
    {% endif %}
    {% elif m == 'conclusion' %}
    <br><br>
    <div class="container-fluid bg-dark">
        <div class="row"><h3 class="text-white col-md-2">出席：{{result[0]+result[1]+result[2]}}人</h3><h3 class="text-success col-md-2">同意：{{result[0]}}人</h3><h3 class="text-danger col-md-2">不同意：{{result[1]}}人</h3><h3 class="text-warning col-md-2">棄權：{{result[2]}}人</h3></div>
        <br><hr><br>
        
        <div class="container-fluid" id = "result">

        </div>
    </div>
    <br><br>
    <script>
        showresult()
        function showresult(){
            var formData = {};
            // console.log($('#ind').val());
            $.ajax({'type': 'POST', 'data': formData, 'url': '/getparliamentary',})
            .done(function(data, textStatus, jqXHR) {
                console.log("work")
                var items = [];
                var colors = {"agree":'text-success', "disagree":'text-danger', "adstain":'text-warning'};
                var choice_text = {"agree":"同意", "disagree":"不同意", "adstain":"棄權"};
                var conclusion = {"agree":0, "disagree":0, "adstain":0};
                $.each(JSON.parse(data.data), function(index, parliamentary) 
                {
                    if ((index+1) % 4 == 1)
                    {
                        items.push("<div class='row'>")
                    }
                    if (parliamentary.participation == 1)
                    {
                        conclusion[parliamentary.choice] += 1;
                        items.push("<h3 class = '"+colors[parliamentary.choice]+" col-md-3'>"+parliamentary.name+"</h3>")
                    }
                    else
                    {
                        items.push("<h3 class = 'col-md-3 '>"+parliamentary.name+"</h3>")
                    }
                    if ((index+1) % 4 == 0)
                    {
                        items.push("</div><br>")
                    }
                })

                document.getElementById("result").innerHTML = "";
                document.getElementById("result").innerHTML = items.join('');
                document.getElementById("conclusion").value = String(conclusion['agree'])+'-'+String(conclusion['disagree'])+'-'+String(conclusion['adstain'])
            })
            .fail()
            .always()
        }  
        </script>
        {% if apartment == "議長"%}
        <form method="POST" action="{{ url_for('set_conference') }}">
        <br><br>
        <div class="container-fluid">
        <button type="submit" class="btn btn-primary btn-block btn-lg">進行下一輪投票</button>
        <br><br>
        </div>
        </form>
        {% endif %}
    {% endif %}
{% endblock %}